<!DOCTYPE html>

<html lang="fr">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Popcorn Movies</title>
    <link rel="stylesheet" href="../public/style.css" />
  </head>

  <body>

    <% include ./partials/header %>

    <h1>Détails de <%= movietitle %></h1>
    <div>
      <%= movieid %>
    </div>

    <% include ./partials/footer %>
  </body>

</html>
